<md-block>
# My collection of Warhammer books

### [Warhammer 30,000](#warhammer-30,000)

* [The Horus Heresy Series](#the-horus-heresy-series)
* [Horus Heresy Novels](#horus-heresy-novels)
* [The Siege of Terra](#the-siege-of-terra)
* [The Primarchs](#the-primarchs)

### [Warhammer 40,000](#warhammer-40,000)

* [Rule and Campaign Books](#rule-and-campaign-books)
* [Black Library Celebration](#black-library-celebration)
* [Age of the Dark Imperium](#age-of-the-dark-imperium)
* [Dark Imperium Series](#dark-imperium-series)
* [Dawn of Fire Series](#dawn-of-fire-series)
* [Space Marine Novels](#space-marine-novels)
* [Black Templars](#black-templars)
* [Charcharodons](#charcharodons)
* [Dark Angels](#dark-angels)
* [Deathwatch](#deathwatch)
* [Space Marine Anthologies / Omnibuses](#space-marine-anthologies-/-omnibuses)
* [Space Wolves](#space-wolves)
* [Imperial Forces](#imperial-forces)
* [Adeptus Mechanicus](#adeptus-mechanicus)
* [Astra Militarum](#astra-militarum)
* [Adepta Sororitas](#adepta-sororitas)
* [Talons of the Emperor](#talons-of-the-emperor)
* [The Imperial Inquisition](#the-imperial-inquisition)
* [Xenos](#xenos)
* [Necrons](#necrons)
* [Orks](#orks)


# Warhammer 30,000

## The Horus Heresy Series

* Book 11: Fallen Angels - Mike Lee (Hardback)
* Book 12: A Thousand Sons - Graham McNeill (Hardback)
* Book 13: Nemesis - James Swallow (Hardback)
* Book 14: The First Heretic - Aaron Dembski-Bowden (Hardback)
* Book 15: Prospero Burns - Dan Abnett (Hardback)
* Book 16: Age of Darkness Anthology - Dan Abnett, John French, Nick Kyme et al. (Hardback)
* Book 17: The Outcast Dead - Graham McNeill (Hardback)
* Book 18: Deliverance Lost - Gav Thorpe (Hardback)
* Book 19: Know No Fear - Dan Abnett (Hardback)
* Book 20: The Primarchs Anthology - Nick Kyme, Graham McNeill, Rob Sanders, Gav Thorpe (Hardback)
* Book 46: Ruinstorm - David Annandale (Hardback)
* Book 47: Old Earth - Nick Kyme (Hardback)
* Book 48: The Burden of Loyalty Anthology - Gav Thorpe, Aaron Dembski-Bowden, Rob Sanders et al.
* Book 49: Wolfsbane - Guy Haley (Hardback)
* Book 50: Born of Flame - Nick Kyme (Hardback)
* Book 51: Slaves to Darkness - John French (Hardback)
* Book 52: Heralds of the Siege Anthology - Rob Sanders, Gav Thorpe, Chris Wraight et al. (Hardback)
* Book 53: Titandeath - Guy Haley (Hardback)
* Book 54: The Buried Dagger (Hardback)

## Horus Heressy Novels

* Cthonia's Reckoning Anthology - John French, Michael F. Haspil, Gary Kloster et al. (Hardback)
* Sigismund: The Eternal Crusader - John French (Hardback)
* Valdor: Birth of the Imperium - Chris Wraight (Hardback)

## The Siege of Terra
* Book 1: The Solar War - John French (Hardback)
* Book 2: The Lost and the Damned - Guy Haley (Hardback)
* Book 3: The First Wall - Gav Thorpe (Hardback)
* Novella 1: Sons of the Selenar - Graham McNeill (Hardback)
* Book 4: Saturnine - Dan Abnett (Hardback)
* Novella 2: The Fury of Magnus - Graham McNeill (Hardback)
* Book 5: Mortis - John French (Hardback)
* Book 6: Warhawk - Chris Wraight (Hardback)
* Book 7: Echoes of Eternity - Aaron Dembski-Bowden (Hardback)
* Novella 3: Garro: Knight of Grey - James Swallow (Hardback)
* Book 8: The End and the Death, Volume 1 - Dan Abnett (Hardback)

## The Primarchs
* Leman Russ: The Great Wolf - Chris Wraight (Hardback)



# Warhammer 40,000



## Rule and Campaign Books

* Codex:  Space Marines - 9th Edition (Hardback)+
* Codex: Space Wolves - 8th Edition (Hardback)
* Codex Supplement: Space Wolves - 9th Edition (Hardback)
* Leviathan: Warhammer 40,000 Core Book - 10th Edition (Hardback)
* Psychic Awakening: Saga of the Beast - 8th Edition (Hardback)
* Warhammer 40,000 Core Book - 9th Edition (Hardback)

## Black Library Celebration
* Black Library Celebration 2020
* Black Library Celebration 2021

## Age of the Dark Imperium
* Indomitus - Gav Thorpe (Hardback)
* Leviathan - Darius Hinks (Hardback)
* Lord of the Dark Millennium Omnibus - Dan Abnett (Paperback)
* Void King: A Rogue Traders Novel - Marc Collins (Paperback)

## Dark Imperium Series
* Book 1: Dark Imperium - Guy Haley (Hardback)
* Book 2: Plague War - Guy Haley (Hardback)
* Book 3: Godblight - Guy Haley (Hardback)

## Dawn of Fire Series
* Book 1: Avenging Son - Guy Haley (Paperback)
* Book 2: The Gate of Boness - Andy Clark (Paperback)
* Book 3: The Wolftime - Gav Thorpe (Paperback)
* Book 4: Throne of Light - Guy Haley (Paperback)
* Book 5: The Iron Kingdom - Nick Kyme (Paperback)
* Book 6: The Martyr's Tomb - Marc Collins (Paperback)



# Space Marine Novels



## Black Templars
* Helbrecht: Knight of the Throne - Marc Collins (Hardback)
* Helsreach - Aaron Dembski-Bowden (Paperback)

## Charcharodons
* Silent Hunters

## Dark Angels
* Cypher: Lord of the Fallen - John French (Hardback)

## Deathwatch
* Deathwatch: The Omnibus - Steve Parker, Ian St.Martin, Justin D. Hill et al. (Paperback)
* The Long Vigil - Steve Parker, Justin D. Hill, David Guymer et al. (Paperback)

## Space Marine Anthologies / Omnibuses
* Lords of Blood: A Blood Angels Omnibus - Guy Haley (Paperback)
* The Successors - Graham McNeill, Guy Haley, Peter Fehervari, Aaron Dmbski-Bowden et al. (Paperback)

## Space Wolves
* Lone Wolves - Dan Abnett, Karl Richardson (Hardback)
* Lukas the Trickster - Josh Reynolds (Paperback)
* Ragnar Blackmane - Aaron Dembski-Bowden (Limited Edition Hardback)
* Sagas of the Space Wolves - Aaron Dembski-Bowden, David Annandale, Robbie MacNiven et al. (Paperback)
* Space Marine Conquests: Ashes of Prospero - Gav Thorpe (Paperback)
* The Helwinter Gate - Chris Wraight (Hardback)
* War of the Fang - Chris Wraight (Limited Edition Hardback)



# Imperial Forces



## Adeptus Mechanicus
* Belisarius Cawl: The Great Work - Guy Haley (hardback)

## Astra Militarum
* Cadian Honour - Justin D. Hill (Paperback)
* Cadia Stands - Justin D. Hill (Paperback)
* Krieg - Steve Lyons (Paperback)
* Minka Lesk: The Last Whiteshield Omnibus - Justin D. Hill (Paperback)
* Shadow of the Eight: A Minka Lesk Novel - Jusstin D. Hill (Hardback)
* The Macharian Crusade: Angel of Fire - William King (Paperback)
* Traitor Rock - Justin D. Hill (Paperback)

## Adepta Sororitas
* Celestine: The Living Saint - Andy Clark (Hardback)
* Ephrael Stern: The Heretic Saint - David Annandale (Hardback)
* Mark of Faith - Rachel Harrison (Paperback)
* Sisters of Battle: The Omnibus - James Swallow (Paperback)
* The Book of Martyrs - Danie Ware, Alec Worley, Phil Kelly
* The Rose at War - Danie Ware (Hardback)
* The Rose in Anger - Danie Ware (Hardback)
* The Triumph of Saint Katherine - Danie Ware (Hardback)

## Talons of the Emperor
* The Emperor's Legion - Chris Wraight (Paperback)
* The Regent's Shadow - Chris Wraight (Paperback)

## The Imperial Inquisition
* Bequin, Book 1: Pariah - Dan Abnett (Hardback)
* Bequin, Book 2: Penitent - Dan Abnett (Hardback)
* Eisenhorn, Book 1: Xenos - Dan Abnett (Paperback)
* Eisenhorn, Book 2: Malleus - Dan Abnett (Paperback)
* Eisenhorn, Book 3: Hereticus - Dan Abnett (Paperback)
* Eisenhorn, Book 4: The Magos - Dan Abnett (Paperback)
* Inferno! Presents: The Inquisition - Dan Abnett, David Annandale, Robert Rath et al. (Paperback)



# Xenos



## Necrons
* The Infinite and the Divine - Robert Rath (Paperback)
* The Twice-Dead King: Reign - Nate Crowley (Paperback)
* The Twice-Dead King: Ruin - Nate Crowley (Paperback)
* The Twice-Dead King: Ruin - Nate Crowley (Hardback)

## Orks
* Brutal Kunnin' - Mike Brooks (Hardback?)
* Da Gobbo's Demise - Denny Flowers (Hardback)
* Da Gobbo's Revenge - Mike Brooks (Hardback)
* Ghazghkull Thraka - Nate Crowley (Hardback)
* Prisoners of Waaagh! - Justin Woolley (Paperback?)
</md-block>