<md-block>
# My collection of Warhammer books
<br>

### [Warhammer 30K](#warhammer-30000)

* [The Horus Heresy Series](#the-horus-heresy-series)
* [Horus Heresy Novels](#horus-heresy-novels)
* [The Siege of Terra](#the-siege-of-terra)
* [The Primarchs](#the-primarchs)

### [Warhammer 40K](#warhammer-40000)

* [Rule and Campaign Books](#rule-and-campaign-books)
* [Black Library Celebration](#black-library-celebration)
* [Age of the Dark Imperium](#age-of-the-dark-imperium)
* [Dark Imperium Series](#dark-imperium-series)
* [Dawn of Fire Series](#dawn-of-fire-series)
* [Space Marine Novels](#space-marine-novels)
* [Black Templars](#black-templars)
* [Charcharodons](#charcharodons)
* [Dark Angels](#dark-angels)
* [Deathwatch](#deathwatch)
* [Grey Knights]
* [Space Marine Anthologies and Omnibuses](#space-marine-anthologies-and-omnibuses)
* [Space Wolves](#space-wolves)
* [Imperial Forces](#imperial-forces)
* [Adeptus Mechanicus](#adeptus-mechanicus)
* [Astra Militarum](#astra-militarum)
* [Adepta Sororitas](#adepta-sororitas)
* [Talons of the Emperor](#talons-of-the-emperor)
* [The Imperial Inquisition](#the-imperial-inquisition)
* [Xenos](#xenos)
* [Necrons](#necrons)
* [Orks](#orks)


## Warhammer 30000
<br>

### The Horus Heresy Series

* Book 11: Fallen Angels - Mike Lee, 2009 (Hardback)
* Book 12: A Thousand Sons - Graham McNeill, 2010 (Hardback)
* Book 13: Nemesis - James Swallow, 2010 (Hardback)
* Book 14: The First Heretic - Aaron Dembski-Bowden, 2010 (Hardback)
* Book 15: Prospero Burns - Dan Abnett, 2010 (Hardback)
* Book 16: Age of Darkness Anthology - Dan Abnett, John French, Nick Kyme et al, 2011 (Hardback)
* Book 17: The Outcast Dead - Graham McNeill, 2011 (Hardback)
* Book 18: Deliverance Lost - Gav Thorpe, 2011 (Hardback)
* Book 19: Know No Fear - Dan Abnett, 2012 (Hardback)
* Book 20: The Primarchs Anthology - Nick Kyme, Graham McNeill, Rob Sanders, Gav Thorpe, 2012 (Hardback)
* Book 46: Ruinstorm - David Annandale, 2017 (Hardback)
* Book 47: Old Earth - Nick Kyme, 2017 (Hardback)
* Book 48: The Burden of Loyalty Anthology - Gav Thorpe, Aaron Dembski-Bowden, Rob Sanders et al, 2018 (Hardback)
* Book 49: Wolfsbane - Guy Haley, 2018 (Hardback)
* Book 50: Born of Flame - Nick Kyme, 2018 (Hardback)
* Book 51: Slaves to Darkness - John French, 2018 (Hardback)
* Book 52: Heralds of the Siege Anthology - Rob Sanders, Gav Thorpe, Chris Wraight et al, 2018 (Hardback)
* Book 53: Titandeath - Guy Haley, 2018 (Hardback)
* Book 54: The Buried Dagger, 2019 (Hardback)

### Horus Heresy Novels

* Cthonia's Reckoning Anthology - John French, Michael F. Haspil, Gary Kloster et al, 2022 (Hardback)
* Sigismund: The Eternal Crusader - John French, 2021 (Hardback)
* Valdor: Birth of the Imperium - Chris Wraight, 2019 (Hardback)

### The Siege of Terra
* Book 1: The Solar War - John French, 2019 (Hardback)
* Book 2: The Lost and the Damned - Guy Haley, 2019 (Hardback)
* Book 3: The First Wall - Gav Thorpe, 2019 (Hardback)
* Novella 1: Sons of the Selenar - Graham McNeill, 2020 (Hardback)
* Book 4: Saturnine - Dan Abnett, 2020 (Hardback)
* Novella 2: The Fury of Magnus - Graham McNeill, 2020 (Hardback)
* Book 5: Mortis - John French, 2021 (Hardback)
* Book 6: Warhawk - Chris Wraight, 2021 (Hardback)
* Book 7: Echoes of Eternity - Aaron Dembski-Bowden, 2022 (Hardback)
* Novella 3: Garro: Knight of Grey - James Swallow, 2023 (Hardback)
* Book 8: The End and the Death, Volume 1 - Dan Abnett, 2023 (Hardback)
<!-- Book 9: The End and the Death, Volume 2 - Dan Abnett, 2023 (Hardback) -->
<!-- Book 10: The End and the Death, Volume 3 - Dan Abnett, 2024? (Hardback) -->

### The Primarchs
* Leman Russ: The Great Wolf - Chris Wraight, 2017 (Hardback)


## Warhammer 40000
<br>

### Rule and Campaign Books

* Codex:  Space Marines - 9th Edition, 2020 (Hardback)
* Codex: Space Wolves - 8th Edition, 2018 (Hardback)
* Codex Supplement: Space Wolves - 9th Edition, 2020 (Hardback)
* Leviathan: Warhammer 40,000 Core Book - 10th Edition, 2023 (Hardback)
* Psychic Awakening: Saga of the Beast - 8th Edition, 2020 (Hardback)
* Warhammer 40,000 Core Book - 9th Edition, 2020 (Hardback)

### Black Library Celebration
* Black Library Celebration 2020
* Black Library Celebration 2021

### Age of the Dark Imperium
* Indomitus - Gav Thorpe, 2020 (Hardback)
* Leviathan - Darius Hinks, 2023 (Hardback)
* Lord of the Dark Millennium Omnibus - Dan Abnett, 2020 (Paperback)
* Void King: A Rogue Traders Novel - Marc Collins, 2023 (Paperback)

### Dark Imperium Series
* Book 1: Dark Imperium - Guy Haley, 2021 (Hardback)
* Book 2: Plague War - Guy Haley, 2021 (Hardback)
* Book 3: Godblight - Guy Haley, 2021 (Hardback)

### Dawn of Fire Series
* Book 1: Avenging Son - Guy Haley, 2020 (Paperback)
* Book 2: The Gate of Bones - Andy Clark, 2021 (Paperback)
* Book 3: The Wolftime - Gav Thorpe, 2021 (Paperback)
* Book 4: Throne of Light - Guy Haley, 2022 (Paperback)
* Book 5: The Iron Kingdom - Nick Kyme, 2023 (Paperback)
* Book 6: The Martyr's Tomb - Marc Collins, 2023 (Paperback)
<!-- Book 7: Sea of Souls - Chris Wraight, 2024? (Paperback)
<!-- Book 8: Unannounced - Unannounced, 2024? (Paperback) -->


## Space Marine Novels
<br>

### Black Templars
* Helbrecht: Knight of the Throne - Marc Collins, 2022 (Hardback)
* Helsreach - Aaron Dembski-Bowden, 2010 (Paperback)

### Charcharodons
* Silent Hunters - Edorado Albert, 2021 (Paperback)

<!-- ### Dark Angels
* Cypher: Lord of the Fallen - John French, 2023/24? (Paperback) -->

### Deathwatch
* Deathwatch: The Omnibus - Steve Parker, Ian St.Martin, Justin D. Hill et al, 2017 (Paperback)
* The Long Vigil - Steve Parker, Justin D. Hill, David Guymer et al, 2020 (Paperback)

### Grey Knights
* The Emperor's Gift - Aaron Dembski-Bowden, 2012 (Hardback)

### Space Marine Anthologies and Omnibuses
* Lords of Blood: A Blood Angels Omnibus - Guy Haley, 2023 (Paperback)
* The Successors - Graham McNeill, Guy Haley, Peter Fehervari, Aaron Dmbski-Bowden et al, 2022 (Paperback)

### Space Wolves
* Blood of Asaheim - Chris Wraight, 2013 (Hardback)
* Lone Wolves - Dan Abnett, Karl Richardson, 2020 (Hardback)
* Lukas the Trickster - Josh Reynolds, 2018 (Paperback)
* Ragnar Blackmane - Aaron Dembski-Bowden, 2020 (Limited Edition Hardback)
* Sagas of the Space Wolves - Aaron Dembski-Bowden, David Annandale, Robbie MacNiven et al, 2020 (Paperback)
* Space Marine Conquests: Ashes of Prospero - Gav Thorpe, 2018 (Paperback)
* Stormcaller - Chris Wraight, 2014 (Hardback)
* The Helwinter Gate - Chris Wraight, 2022 (Hardback)
* War of the Fang - Chris Wraight, 2022 (Limited Edition Hardback)


## Imperial Forces
<br>

### Adeptus Mechanicus
* Belisarius Cawl: The Great Work - Guy Haley, 2019 (hardback)

### Astra Militarum
* Cadian Honour - Justin D. Hill, 2019 (Paperback)
* Cadia Stands - Justin D. Hill, 2018 (Paperback)
* Krieg - Steve Lyons, 2022 (Paperback)
* Minka Lesk: The Last Whiteshield Omnibus - Justin D. Hill, 2023 (Paperback)
* Shadow of the Eight: A Minka Lesk Novel - Justin D. Hill, 2023 (Hardback)
* The Macharian Crusade: Angel of Fire - William King, 2012 (Paperback)
* Traitor Rock - Justin D. Hill, 2022 (Paperback)

### Adepta Sororitas
* Celestine: The Living Saint - Andy Clark, 2019 (Hardback)
* Ephrael Stern: The Heretic Saint - David Annandale, 2020 (Hardback)
* Mark of Faith - Rachel Harrison, 2019 (Paperback)
* Sisters of Battle: The Omnibus - James Swallow, 2017 (Paperback)
* The Book of Martyrs - Danie Ware, Alec Worley, Phil Kelly, 2022 (Paperback)
* The Rose at War - Danie Ware, 2023 (Hardback)
* The Rose in Anger - Danie Ware, 2020 (Hardback)
* The Triumph of Saint Katherine - Danie Ware, 2022 (Hardback)

### Talons of the Emperor
* The Emperor's Legion - Chris Wraight, 2017 (Paperback)
* The Regent's Shadow - Chris Wraight, 2020 (Paperback)

### The Imperial Inquisition
* Bequin, Book 1: Pariah - Dan Abnett, 2021 (Hardback)
* Bequin, Book 2: Penitent - Dan Abnett, 2021 (Hardback)
* Eisenhorn, Book 1: Xenos - Dan Abnett, 2018 (Paperback)
* Eisenhorn, Book 2: Malleus - Dan Abnett, 2018 (Paperback)
* Eisenhorn, Book 3: Hereticus - Dan Abnett, 2018 (Paperback)
* Eisenhorn, Book 4: The Magos - Dan Abnett, 2018 (Paperback)
* Inferno! Presents: The Inquisition - Dan Abnett, David Annandale, Robert Rath et al, 2021 (Paperback)


## Xenos
<br>

### Necrons
* The Infinite and the Divine - Robert Rath, 2020 (Paperback)
* The Twice-Dead King: Reign - Nate Crowley, 2022 (Paperback)
* The Twice-Dead King: Ruin - Nate Crowley, 2021 (Paperback)
* The Twice-Dead King: Ruin - Nate Crowley, 2021 (Hardback)

### Orks
* Brutal Kunnin' - Mike Brooks, 2021 (Hardback)
* Da Gobbo's Demise - Denny Flowers, 2022 (Hardback)
* Da Gobbo's Revenge - Mike Brooks, 2021 (Hardback)
* Ghazghkull Thraka: Prphet of the Waaagh! - Nate Crowley, 2022 (Hardback)
* Prisoners of Waaagh! - Justin Woolley, 2020 (Hardback)
</md-block>